</html>
<!DOCTYPE html>

<html lang="en">
<meta charset="UTF-8">
<title>Monitoreo Impresoras Mundo</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
body {font-family: "lato", sans-serif} 
.mySlides {display: none}
</style>
<script src=""></script>
<div class="w3-bar w3-blue">
	<a href="{% url 'index'%}" class="w3-bar-item w3-button w3-mobile">Inicio</a>
	<a href="{% url 'buscar' %}" class="w3-bar-item w3-button w3-mobile">Buscar</a>

</div>

<body>
	<!--Cargar path de static como variable-->
{% load static %}
{% static "" as baseUrl %}

<div class="w3-container w3-center">
	<h1>Buscar Gráfico</h1>
	<form action="/monitoreo/buscar/" method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Buscar">
	</form>	

</div>
<div class="w3-card w3-mobile">
	<div class="w3-row">
		<div class="w3-center">
			{% if if_year > current_year%}
			<h1 class="w3-title">Disponible el {{ date }}</h1>
			{% elif if_date > if_today %}
			<h1 class="w3-title">Disponible el {{ date }}</h1>
			{% elif date > today %}
			<h1 class="w3-title">Disponible el {{ date }}</h1>
			{% elif date == today and hour <= '16:35' %}
			<h1 class="w3-title">Disponible a las 16:30</h1>
			{% elif date %}
			<img class="w3-image w3-mobile" src="{{ baseUrl }}monitoreo/images/graph_{{ date }}.png" alt="{{ date }}_graph">
			{% elif hour <= "16:35" %}<!--Si no es la hora indicada, mostrar grafico de ayer-->
			<img class="w3-image w3-mobile" src="{{ baseUrl }}{{ yesterday_route }}" alt="{{ yesterday }}_graph">
			{% else %}
			<img class="w3-image w3-mobile" src="{{ baseUrl }}{{ today_route }}" alt="{{ today }}_graph">
			{% endif %}
		</div>
	</div>
</div>

</div>

</body>
</html>
